<section id="main-content">
    <div id="main-content-centered-element">
        <app-book-changes [book]="bookDto" (handlBookSubmit)="handleSubmit($event)" [error]="error" />
        <div class="buttons-container">
            <a routerLink="/book/{{this.id}}">
                <button class="red">{{'cancel' | language:languageService.currentLanguage}}</button>
            </a>
            <button type="submit" form="book-changes" class="green">{{'commitChanges' |
                language:languageService.currentLanguage}}</button>
        </div>
    </div>
</section>