<header>
    <div class="container">
        <img src="/assets/white_book_symbol.png" alt="Book symbol" />
        <h1>Library</h1>
        <h1 class="right-header-buttons">
            <div class="sign-out-button">
                <button type="button">
                    <img src="/assets/sign_out_symbol.png" alt="Sign out symbol" />
                </button>
            </div>
            <div id="language-change">
                <button type="button">
                    <img src="/assets/white_globe_symbol.png" alt="Globe symbol" />
                </button>
                <div class="dropdown-content">
                    <button type="button">EN</button>
                    <button type="button">RU</button>
                    <button type="button">BY</button>
                </div>
            </div>
        </h1>
    </div>
</header>