<header>
    <div class="container">
        <img src="/assets/white_book_symbol.png" alt="Book symbol" />
        <h1>{{'appName' | language:languageService.currentLanguage}}</h1>
        <h1 class="right-header-buttons">
            <div class="sign-out-button" *ngIf="this.authService.isAuthenticated()">
                <button type="button" (click)="handleSignOut()">
                    <img src="/assets/sign_out_symbol.png" alt="Sign out symbol" />
                </button>
            </div>
            <div id="language-change">
                <button type="button">
                    <img src="/assets/white_globe_symbol.png" alt="Globe symbol" />
                </button>
                <div class="dropdown-content">
                    <button type="button" (click)="handleLanguageChange('ENGLISH')">{{'englishCode' |
                        language:languageService.currentLanguage}}</button>
                    <button type="button" (click)="handleLanguageChange('RUSSIAN')">{{'russianCode' |
                        language:languageService.currentLanguage}}</button>
                    <button type="button" (click)="handleLanguageChange('BELARUSIAN')">{{'belarusianCode' |
                        language:languageService.currentLanguage}}</button>
                </div>
            </div>
        </h1>
    </div>
</header>