<section id="main-content">
    <form class="login-form round-bordered-subject" autoComplete="on" (ngSubmit)="onSubmit()">
        <input type="text" id="login" name="login" [(ngModel)]="login" (ngModelChange)="clearError()"
            placeholder="{{'loginLocale' | language:languageService.currentLanguage}}" required />
        <input type="password" id="password" name="password" [(ngModel)]="password" (ngModelChange)="clearError()"
            placeholder="{{'passwordLocale' | language:languageService.currentLanguage}}" required />
        <div class="error-message" *ngIf="error">{{error}}</div>
        <button type="submit">
            {{'signInLocale' | language:languageService.currentLanguage}}
        </button>
        <a routerLink="/sign-up">
            <button type="button">{{'signUp' | language:languageService.currentLanguage}}</button>
        </a>
    </form>
</section>