<h1>{{'loginLocale' | language:languageService.currentLanguage}}: {{user.login}}</h1>
<p>{{'firstName' | language:languageService.currentLanguage}}: {{user.firstName}}</p>
<p>{{'lastName' | language:languageService.currentLanguage}}: {{user.lastName}}</p>
<p>
    {{'role' | language:languageService.currentLanguage}}: {{user.role | language:languageService.currentLanguage}}
</p>
<p>
    {{'blocked' | language:languageService.currentLanguage}}: {{user.blocked |
    language:languageService.currentLanguage}}
</p>