<nav>
    <a routerLink="/books">
        <button>{{'books' | language:languageService.currentLanguage}}</button>
    </a>
    <a routerLink="/orders">
        <button>{{'myOrders' | language:languageService.currentLanguage}}</button>
    </a>
    <a routerLink="/orders">
        <button>{{'orders' | language:languageService.currentLanguage}}</button>
    </a>
    <a routerLink="/add-book">
        <button>{{'addABook' | language:languageService.currentLanguage}}</button>
    </a>
    <a routerLink="/users">
        <button>{{'users' | language:languageService.currentLanguage}}</button>
    </a>
</nav>